/* CSS stillerinizi buraya girin */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: auto auto;
}

header nav a {
    background-color: rgb(74, 162, 239);
    padding: 10px 20px;
    color: bisque;
    border-radius: 10px;
    border: 2px solid black;
}

main {
    background-image: url("https://picsum.photos/700/500");
    width: 65vw;
    height:50vw;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

main div {
    text-align: center;
}

main button {
    padding: 10px 20px;
    border-radius: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3% auto;
    width: 75vw;
}

section div {
    width: 30%;
    text-align: center;
    font-size: 1.15rem;
}

section img{
    width:100%
}

section p{
    margin-bottom: 20px;
}

footer{
    text-align: center;
    background-color: rgb(232, 224, 224)
}

footer button{
    padding: 10px 30px;
}

@media (max-width: 768px) {

    section div {
            width: 45%;
        }
    
    section {
            width: 90vw;
        }
    
    header{
            flex-direction: column;
            align-items: center;
            width: 50vw;
            
        }

    header nav a {
            display: block;
            text-align: center;
            
    }

    main {
        margin: 30px auto;
    }
}
/*


}
*/